.navbar-container{
    display: flex;
    background-color: black;
    height: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0;
}

body{
    margin: 0;
}

.navbar-container a{
    text-decoration: none;
}
.navlink ul li{
    display: inline-block;
    color: white;
    margin: 10px;
}
.navlink ul{
    margin: 0;
    padding: 0;
}



.center{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.text-container{
    display: flex;
    flex-direction: column;
}

img{
    object-fit: cover;
    width: 300px;
    height: 300px;
}
.center1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.kanan{
    display: flex;
    right: 0;
    position: absolute;
    color: white;
    margin-right: 20px;
}

.kanan a{
    color: white;
}



.kiri{
    display: flex;
    left: 0;
    color: white;
    position: absolute;
    margin-left: 20px;
    align-items: center;
}

.kiri img{
    width: 50px;
    height: 40px;
}

.kiri a {
    margin-top: 10px;
    font-size: 20px;
    color: white;
}

